﻿@{
    ViewBag.Title = "ExclusaoSucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="container">
    <div id="page-with-sidebar">
        <div class="page-content">
            
            <h2>
               Sua conta foi Excluída.</h2>
         Obrigado por usar nosso serviço!   <br />
           
        </div>
    </div>
    <!-- End Page With Sidebar -->
</div>



