﻿@model IEnumerable<QRPet.ViewModels.DicaVM>
@{
    ViewBag.Title = "AdministrarDicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Container -->
<script type="text/javascript" charset="utf-8">
    /* Define two custom functions (asc and desc) for string sorting */


    $(document).ready(function () {
        /* Build the DataTable with third column using our custom sort functions */
        jQuery.noConflict();
        $('#tabela').dataTable({
            "aaSorting": [[0, 'asc'], [1, 'asc']],
            "aoColumnDefs": [
						{ "sType": 'string-case', "aTargets": [0] }
					]
        });
    });
</script>
<div id="container">
    <!-- Begin Intro -->
    <!-- End Intro -->
    <h2>
        Admin Dicas</h2>
    <div id="demo">
        <table class="normal display" id="tabela">
            <thead>
                <tr>
                    <th>
                        <h5>
                            Texto</h5>
                    </th>
                    <th>
                        <h5>
                            Título</h5>
                    </th>
                    <th>
                        <h5>
                            Status</h5>
                    </th>
                    <th>
                        <h5>
                            Email Usuário</h5>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
               
                    <tr>
                        <td>
                            @item.Texto
                        </td>
                        <td>
                            @item.Titulo
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.EmailUsuario
                        </td>
                        <td>
                            @if(@item.Status == "EM ESPERA") {
                            @Html.ActionLink("Validar", "ValidarDica", new { guid = item.Guid }) @Html.DisplayText("|") }  @Html.ActionLink("Excluir", "ExcluirDica", new { guid = item.Guid })
                        </td>
                    </tr>
               
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        <h5>
                            Texto</h5>
                    </th>
                    <th>
                        <h5>
                            Título</h5>
                    </th>
                    <th>
                        <h5>
                            Status</h5>
                    </th>
                    <th>
                        <h5>
                            Email Usuário</h5>
                    </th>
                    <th>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <div class="form-left">
        <a class="button btn-laranja" onclick="history.go(-1)">Voltar</a>
    </div>
</div>
