﻿@{
    ViewBag.Title = "DicaExcluidaSucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div id="page-with-sidebar">
        <div class="page-content">
            
            <h2>
               Dica excluída com sucesso.</h2>
               Clique <a href="/Admin/AdministrarDicas">aqui</a> pra continuar.
          <br />
           
        </div>
    </div>
    <!-- End Page With Sidebar -->
</div>


